# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.mdc
.cursor

# 환경 변수 파일
.env
.env.local
.env.development
.env.production

# Firebase Admin SDK 관련 (예: 서비스 계정 키 파일)
bizmo-8cbf1-firebase-adminsdk-*.json

# Requirements
requirements

# Firebase Functions Code (벡엔드 레포지토리에 올라갈 코드)
naver_oath

# Firebase 캐시 디렉토리 무시
.firebase

# Firebase 캐시 파일 무시
.firebase/